.logoo {
  display: block;
  max-width: 109px;
}

.primary-menu, .footer .foo-nav {
  position: relative;
}

.primary-menu .mobile-menu, .footer .foo-nav .mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .primary-menu .mobile-menu, .footer .foo-nav .mobile-menu {
    color: #ffde59;
    display: block;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .primary-menu li, .footer .foo-nav li {
    display: inline-block;
  }
}

.primary-menu li a, .footer .foo-nav li a {
  color: #263a41;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 20px;
}

.primary-menu li a:hover, .footer .foo-nav li a:hover {
  color: #ffde59;
}

@media screen and (max-width: 767px) {
  .primary-menu ul, .footer .foo-nav ul {
    background-color: #fcf5ee;
    display: none;
    text-align: center;
    padding: 10px 0;
  }
  .primary-menu li a, .footer .foo-nav li a {
    padding: 10px 15px;
  }
}

.footer {
  background-color: #fff9f8;
  padding: 80px 0 60px;
}

.footer .foo-logo {
  margin: 0 auto;
}

.footer .foo-nav {
  margin: 30px 0;
}

.footer .foo-social {
  margin-bottom: 30px;
}

.footer .foo-social a {
  border-right: 1px solid #b1b4bb;
  color: #3a414e;
  display: inline-block;
  font-size: 14px;
  line-height: .8;
  padding: 0 10px;
}

.footer .foo-social a:hover {
  color: #ffde59;
}

.footer .copyright {
  color: #888;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.footer .copyright a {
  color: #ffde59;
}